swagger: '2.0'

info:
  version: "0.0.1"
  title: SMP Native REST API
  contact:
      email: "adam@stylemepretty.com"

host: www.stylemepretty.com
produces:
  - application/json

tags:
    -
      name: gallery
    -
      name: image
    -
      name: user
    -
      name: vendor
    -
      name: search
    -
      name: public
    -
      name: authenticated
      description: Requires authorization header
    -
      name: working
      description: Meets documented spec
    -
      name: complete
      description: Dev complete
    -
      name: fake
      description: Contains fake data

paths:
  /api/v2/user:
    get:
      tags:
        - user
        - authenticated
        - working
        - complete
      summary: Get details about user matching authorization header
      schemes:
        - https
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/User'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        404:
          description: User not found
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'
    put:
      tags:
        - user
        - authenticated
        - working
        - complete
      summary: Save details about user matching authorization header
      schemes:
        - https
      consumes:
        - application/json
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/User'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        404:
          description: User not found
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'
  /wp-json/v2/user:
    post:
      tags:
        - user
        - public
        - working
        - complete
      summary: Create user
      schemes:
        - https
      parameters:
        -
          name: email
          in: formData
          required: true
          type: string
        -
          name: password
          in: formData
          required: true
          type: string
      responses:
        201:
          description: Successful response
          schema:
             $ref: '#/definitions/UserPreview'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /wp-json/v2/auth/token:
    post:
      tags:
          - user
          - working
          - complete
      summary: Get access token
      schemes:
        - https
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        -
          name: email
          in: formData
          required: true
          type: string
        -
          name: password
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              id:
                type: integer
              email:
                type: string
              token:
                type: string
        403:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /wp-json/v2/auth/token/validate:
    post:
      tags:
          - user
          - authenticated
          - working
          - complete
      summary: Get status of authorization token header
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
             type: object
             properties:
              code:
                type: string
                description: jwt_auth_valid_token on success
              data:
                type: object
                properties:
                  status:
                    type: integer
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/user/follow:
    get:
      tags:
        - user
        - authenticated
        - working
        - complete
      summary: Get all objects beign followed by user matching authorization header
      schemes:
        - https
      parameters:
        -
          name: Authorization
          in: header
          description: Value must be formatted like so "Bearer <Access Token>"
          required: true
          type: string
      responses:
        200:
          description: Succesfull response
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Followable'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'
    post:
      tags:
        - user
        - authenticated
        - working
        - complete
      summary: Follow a object for user matching authorization header
      schemes:
        - https
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
        -
          name: taxonomy
          in: query
          required: true
          type: string
        -
          name: id
          in: query
          required: true
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Followable'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'
    delete:
      tags:
        - user
        - authenticated
        - working
        - complete
      summary: Unfollow object for user matching authorization header
      schemes:
        - https
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
        -
          name: taxonomy
          in: query
          required: true
          type: string
        -
          name: id
          in: query
          required: true
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Followable'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/user/follow/{taxonomy}:
    get:
      tags:
          - user
          - authenticated
          - working
          - complete
      schemes:
        - https
      summary: Get objects matching taxonomy followed by user matching authorization header
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
        -
          name: taxonomy
          in: path
          required: true
          type: string
        -
          name: query
          in: query
          required: false
          type: string
        -
          name: perPage
          in: query
          required: false
          type: integer
        -
          name: page
          in: query
          required: false
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  perPage:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/user/follow/recommended:
    get:
      tags:
          - user
          - authenticated
          - working
          - fake
      schemes:
        - https
      summary: Get recommended objects for user matching authorization header
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Followable'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/user/favorite:
    get:
      tags:
        - user
        - authenticated
        - working
        - complete
      schemes:
        - https
      summary: Get favorites for user matching authorization token
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Favoriteable'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'
    post:
      tags:
        - user
        - authenticated
        - working
        - complete
      schemes:
        - https
      summary: Favorite an object for user matching authorization header
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
        -
          name: taxonomy
          in: query
          required: true
          type: string
        -
          name: id
          in: query
          required: true
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Favoriteable'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'
    delete:
      tags:
        - user
        - authenticated
        - working
        - complete
      schemes:
        - https
      summary: Unfavorite object for user matching authorization header
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
        -
          name: taxonomy
          in: query
          required: true
          type: string
        -
          name: id
          in: query
          required: true
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Favoriteable'
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/user/favorite/{taxonomy}:
    get:
      tags:
          - user
          - authenticated
          - working
          - complete
      schemes:
        - https
      summary: Get objects matching taxonomy favorited by user matching authorization header
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
        -
          name: taxonomy
          in: path
          required: true
          type: string
        -
          name: query
          in: query
          required: false
          type: string
        -
          name: perPage
          in: query
          required: false
          type: integer
        -
          name: page
          in: query
          required: false
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  perPage:
                    type: integer
                  results:
                    type: array
                    items:
                      type: object
        403:
          description: Unauthorized response
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/user/feed/gallery:
    get:
      tags:
        - gallery
        - authenticated
      schemes:
        - https
        - http
      summary: Get galleries relevant to user matching authorization header
      parameters:
        -
          name: Authorization
          in: header
          description: Bearer <Access Token>
          required: true
          type: string
        -
          name: perPage
          in: query
          required: false
          type: integer
        -
          name: page
          in: query
          required: false
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  perPage:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/definitions/GalleryPreview'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/gallery:
    get:
      tags:
        - gallery
        - public
        - working
        - complete
      schemes:
        - https
        - http
      summary: Search galleries by providing detail and/or vendor query paramters
      parameters:
        -
          name: perPage
          in: query
          required: false
          type: integer
        -
          name: page
          in: query
          required: false
          type: integer
        -
          name: vendor
          in: query
          description: Filter galleries credited by a `Vendor`
          required: false
          type: integer
        -
          name: detail
          in: query
          description: Filter galleries with associated `Detail`
          required: false
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  total:
                    type: integer
                  page:
                    type: integer
                  perPage:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/definitions/GalleryPreview'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/gallery/{id}:
    get:
      tags:
        - gallery
        - public
        - working
        - complete
      schemes:
        - http
        - https
      summary: Get a single gallery
      parameters:
        -
          name: id
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Gallery'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/image/{id}:
    get:
      tags:
        - image
        - public
        - working
        - complete
      schemes:
        - http
        - https
      summary: Get a single image
      parameters:
        -
          name: id
          in: path
          required: true
          type: integer

      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Image'
        404:
          description: Image not found
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/vendor/{id}:
    get:
      tags:
        - vendor
        - public
        - working
        - complete
      schemes:
        - http
        - https
      summary: Get a single vendor
      parameters:
        -
          name: id
          in: path
          required: true
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Vendor'
        404:
          description: Vendor not found
          schema:
             $ref: '#/definitions/Error'
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/search/top:
    get:
      tags:
        - search
        - public
        - working
        - fake
      schemes:
        - http
        - https
      summary: Get most popular queries
      responses:
        200:
          description: Successful response
          schema:
             type: object
             properties:
              data:
                type: array
                items:
                  type: string
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

  /api/v2/search/ios:
    get:
      tags:
        - search
        - public
        - working
        - complete
      schemes:
        - http
        - https
      summary: Search vendors, galleries and images
      parameters:
        -
          name: query
          in: query
          required: false
          type: string
        -
          name: lat
          in: query
          description: Latitude point
          required: false
          type: integer
        -
          name: lng
          in: query
          description: Longitude point
          required: false
          type: integer
        -
          name: items
          in: query
          description: Number of results to return per index
          required: false
          type: integer
      responses:
        200:
          description: Successful response
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  query:
                    type: string
                  lat:
                    type: integer
                  lng:
                    type: integer
                  items:
                    type: integer
                  vendors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        thumb:
                          type: string
                        name:
                          type: object
                          properties:
                            value:
                              type: string
                            matched:
                              type: array
                              items:
                                type: string
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        thumb:
                          type: string
                        gallery:
                          type: object
                          properties:
                            id:
                              type: integer
                            title:
                              type: string

                  galleries:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        thumb:
                          type: string
                        title:
                          type: object
                          properties:
                            value:
                              type: string
                            matched:
                              type: array
                              items:
                                type: string
        500:
          description: Failed response
          schema:
             $ref: '#/definitions/Error'

definitions:
  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string

  UserPreview:
    type: object
    properties:
      id:
        type: integer
      email:
        type: string

  User:
    type: object
    allOf:
      - $ref: '#/definitions/UserPreview'
      - type: object
        properties:
          wedding_date:
            type: string
          full_name:
            type: string

  Followable:
    type: object
    discriminator: taxonomy
    properties:
      id:
        type: integer
      taxonomy:
        type: string
        enum:
          - season
          - style
          - setting
          - location
          - category
          - vendor
          - gallery
    required:
      - id
      - taxonomy

  Favoriteable:
    type: object
    discriminator: taxonomy
    properties:
      id:
        type: integer
      taxonomy:
        type: string
        enum:
          - image
    required:
      - id
      - taxonomy

  VendorPreview:
    allOf:
      - $ref: '#/definitions/Followable'
      - type: object
        properties:
          name:
            type: string
          type:
            type: string
          is_lbb:
            type: boolean
            description: Is Little Black Book vendor

  Vendor:
    allOf:
      - $ref: '#/definitions/VendorPreview'
      - type: object
        properties:
          url:
            type: string
          thumb:
            type: string
          description:
            type: string

  ImagePreview:
    type: object
    properties:
      id:
        type: integer
      gid:
        type: integer
        description: Gallery ID
      path:
        type: string
      width:
        type: integer
      height:
        type: integer

  Image:
    allOf:
      - $ref: '#/definitions/ImagePreview'
      - type: object
        properties:
          tags:
            type: array
            items:
              type: string
          vendors:
            type: array
            items:
              $ref: '#/definitions/VendorPreview'

  GalleryPreview:
    type: object
    properties:
      id:
        type: integer
      title:
        type: string
      thumb:
        type: string
      thumbs:
        type: array
        items:
          type: string
      images:
        type: integer

  Gallery:
    allOf:
      - $ref: '#/definitions/GalleryPreview'
      - type: object
        properties:
          post:
            type: object
            properties:
              url:
                type: string
          details:
            type: array
            items:
              $ref: '#/definitions/Detail'
          vendors:
            type: array
            items:
              $ref: '#/definitions/VendorPreview'
          images:
            type: array
            items:
              $ref: '#/definitions/ImagePreview'

  Detail:
    description: Gallery level tag
    allOf:
      - $ref: '#/definitions/Followable'
      - type: object
        properties:
            name:
              type: string
